*{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#first{
    width: 100%;
}

#set{
    float: right;
    width: 80px;
    height: 350px;
    background-color: yellow;
}

#question{
    height: 200px;
    background-color: rgb(255, 153, 153);
  
}


#numbers{
    height: 150px;
    background-color: rgb(116, 116, 255);
}

#answers{
    float: right;
    width: 400px;
    height: 350px;
    background-color: rgb(133, 255, 133);
    display: flex;
    flex-direction: column;
}

#answers :hover{
    background-color: rgb(38, 255, 38);
    
}

#teams{
    height: 200px;
    background-color: rgb(175, 175, 175);
    display: flex;
}

#team1, #team2, #team3{
    border: solid black 1px;
    float: left;
    flex-grow: 1;
    height: 100%;
    font-size: 32px ;
    text-align: center;
}


#first_ans, #second_ans, #third_ans{
    border: solid black 1px;
    font-size: 32px;
    flex-grow: 1;

}

#zawartosc{
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
}


#music-btn{
    width: 100%;
    height: 100%;
}