#first{
    width: 100%;
}

#set{
    float: right;
    width: 80px;
    height: 350px;
    background-color: yellow;
}

#question{
    height: 200px;
    background-color: red;
  
}


#numbers{
    height: 150px;
    background-color: blue;
}

#answers{
    float: right;
    width: 400px;
    height: 350px;
    background-color: green;
}

#teams{
    height: 200px;
    background-color: grey;
}